  <nav 
    x-cloak 
    x-show="menu"
    x-transition:enter="transition ease-out duration-240"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-240"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="bg-menu-pattern bg-cover bg-left-top lg:bg-none lg:bg-transparent fixed w-full lg:w-160 h-full top-0 left-0 lg:left-auto lg:right-0 z-50 flex items-center justify-end px-30 lg:px-0 lg:!opacity-100 lg:!block">
    <a href="/" title="Startseite" class="block w-100 lg:w-115 h-auto fixed left-30 lg:left-auto lg:right-45 top-14 lg:top-35 z-70">
      {{ partial:icons/logo class="block w-full h-auto" }}
    </a>
    {{ partial:menu/buttons/hide class="block fixed right-30 top-25 lg:hidden" }}

    <ul class="flex flex-col gap-y-30 lg:translate-y-[165px] lg:min-h-screen lg:pr-45">
      {{ nav:main }}
        {{ partial:menu/item }}
      {{ /nav:main }}
    </ul>
  </nav>
