{{ if type == 'anchor' }}
  {{ partial:misc/anchor }}
{{ /if }}

{{ if type == 'editor' }}
  {{ partial:misc/editor }}
{{ /if }}

{{ if type == 'latest_news' }}
  {{ partial:home/news }}
{{ /if }}

{{ if type == 'page_teaser' }}
  {{ partial:home/teaser }}
{{ /if }}

{{ if type == 'home_vision' }}
  {{ partial:home/vision }}
{{ /if }}

{{ if type == 'home_family_business' }}
  {{ partial:home/family_business }}
{{ /if }}

{{ if type == 'client_list' }}
  {{ partial:clients/list }}
{{ /if }}

{{ if type == 'team' }}
  {{ partial:team/list }}
{{ /if }}

{{ if type == 'works' }}
  {{ partial:works/list }}
{{ /if }}

{{ if type == 'page_claim' }}
  {{ partial:headings/claim h1="{{ is_homepage || slug == 'services' ? 'true' : 'false' }}" }}
{{ /if }}

{{ if type == 'header_contact' }}
  {{ partial:contact/header }}
{{ /if }}

{{ if type == 'contact_information' }}
  {{ partial:contact/wrapper }}
{{ /if }}

{{ if type == 'header_home' }}
  {{ partial:home/header }}
{{ /if }}

{{ if type == 'header_news' }}
  {{ partial:news/header }}
{{ /if }}

{{ if type == 'header_clients' }}
  {{ partial:clients/header }}
{{ /if }}

{{ if type == 'header_team' }}
  {{ partial:team/header }}
{{ /if }}

{{ if type == 'header_workx' }}
  {{ partial:works/header }}
{{ /if }}

{{ if type == 'header_services' }}
  {{ partial:services/header }}
{{ /if }}

{{ if type == 'services_concept' }}
  {{ partial:services/concept }}
{{ /if }}

{{ if type == 'services_campaign' }}
  {{ partial:services/campaign }}
{{ /if }}

{{ if type == 'services_branding' }}
  {{ partial:services/branding }}
{{ /if }}

{{ if type == 'services_print_digital' }}
  {{ partial:services/print_digital }}
{{ /if }}

{{ if type == 'services_studio' }}
  {{ partial:services/studio }}
{{ /if }}

{{ if type == 'services_events' }}
  {{ partial:services/events }}
{{ /if }}

{{ if type == 'code' }}
  {{ partial:partials/misc/code }}
{{ /if }}

