{{ if type == 'editor' }}
  {{ partial:misc/editor }}
{{ /if }}

{{ if type == 'latest_news' }}
  {{ partial:news/latest }}
{{ /if }}

{{ if type == 'client_list' }}
  {{ partial:clients/list }}
{{ /if }}

{{ if type == 'team_member' }}
  {{ partial:team/member }}
{{ /if }}

{{ if type == 'works' }}
  {{ partial:works/list }}
{{ /if }}

{{ if type == 'page_claim' }}
  {{ partial:headings/claim }}
{{ /if }}

{{ if type == 'header_contact' }}
  {{ partial:contact/header }}
{{ /if }}

{{ if type == 'contact_information' }}
  {{ partial:contact/wrapper }}
{{ /if }}

{{ if type == 'header_news' }}
  {{ partial:news/header }}
{{ /if }}

{{ if type == 'header_clients' }}
  {{ partial:clients/header }}
{{ /if }}