<a 
  href="#" 
  class="block h-60 overflow-hidden w-full bg-[url(../patterns/dots.png)] bg-[length:auto_62px] uppercase font-extrabold leading-[0.75] text-white text-[54px]">
  <div class="flex h-60 items-center w-[200%] relative -top-3" data-animation="marquee">
    <div class="flex-1 h-42 whitespace-nowrap">
      <span>
        Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra
      </span>
    </div>
    <div class="flex-1 h-42 whitespace-nowrap">
      <span>Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra</span>
    </div>
  </div>
</a>
