<div 
  class="relative overflow-hidden xl:min-h-[480px]"
  data-animation-observe>

  {{ partial:layout/inner class="relative mb-30 lg:mb-0" }}
    <article class="pt-40 lg:pt-60">
      <div>
        <h2 class="mb-20 md:mb-40 bg-black font-black text-2xl md:text-4xl lg:text-7xl uppercase text-white px-5 pb-2 md:pb-4 lg:pb-6 lg:px-10 inline-flex items-center justify-center leading-none shadow-lg md:shadow-2xl relative lg:-left-30 -rotate-6"> 
          {{ title }}
        </h2>
      </div>
      <div class="hyphens-auto md:max-w-[400px] md:pb-90 lg:pb-100">
        {{ text }}
      </div>
    </article>
  {{ /partial:layout/inner }}

  <div class="md:absolute md:max-w-[500px] lg:max-w-[600px] xl:max-w-[710px] md:-right-60 -top-5 w-full pl-30 md:pl-0">
    {{ if image_cross }}
    {{ partial:media/avif 
      :image="image_cross" 
      :avif_image="image_cross_avif"
      class="block w-full h-auto aspect-[16/11]"
      alt="Branding" }}
  {{ /if }}

  </div>

</div>

