<div class="relative overflow-hidden lg:min-h-[480px]">

  {{ partial:layout/inner }}
    <article class="relative">
      {{ partial:headings/title class="-top-50" }}
        {{ title }}
      {{ /partial:headings/title }}
      <div class="hyphens-auto md:max-w-[350px] mt-100">
        {{ text }}
      </div>
    </article>
  {{ /partial:layout/inner }}

  <div class="ml-30 mt-30 relative w-full aspect-[12/10] md:aspect-auto min-h-[280px] md:min-h-[400px] lg:min-h-[480px] lg:max-w-[560px] lg:absolute lg:top-0 lg:right-0 bg-red-50">
    {{ if image_cross_foreground }}
      {{ partial:media/avif 
        :image="image_cross_foreground" 
        :avif_image="image_cross_foreground_avif"
        class="block w-full h-auto absolute -bottom-40 xs:-bottom-65 right-0 md:-bottom-120 z-20 md:max-w-[560px]"
        alt="Branding" }}
    {{ /if }}
    {{ if image_cross_background }}
      {{ partial:media/avif 
        :image="image_cross_background" 
        :avif_image="image_cross_background_avif"
        class="block w-full h-auto absolute -bottom-70 xs:-bottom-125 right-0 translate-x-[45%] md:-bottom-120 z-10 md:max-w-[560px]"
        alt="Branding" }}
    {{ /if }}
  </div>
</div>

<div class="bg-yellow-100 min-h-200">
  asdf
</div>