{{ partial:misc/marquee }}
<footer class="bg-black text-white py-30 md:py-50 relative z-40 lg:z-80">
  {{ partial:layout/inner }}
    <section class="flex flex-col space-y-40 md:space-y-0 md:flex-row md:justify-between md:items-end">
      <div class="flex flex-col space-y-40 md:space-y-0 md:flex-row md:gap-x-40 leading-[1.6] md:leading-[1.3]">
        <div>
          {{ if contact_information:name }}
            <h3 class="uppercase font-black mb-3">
              {{ contact_information:name }}
            </h3>
          {{ /if }}
          {{ if contact_information:address }}
            {{ contact_information:address | nl2br }}
          {{ /if }}
        </div>
        <div>
          <h3 class="uppercase font-black mb-3">Say Hello</h3>
          {{ if contact_information:phone }}
            <a href="tel:{{ contact_information:phone }}" title="Rufen Sie uns an!" class="block">
              {{ contact_information:phone }}
            </a>
          {{ /if }}
          {{ if contact_information:email }}
            <a href="mailto:{{ contact_information:email }}" title="Schreiben Sie uns eine E-Mail!" class="block">
              {{ contact_information:email }}
            </a>
          {{ /if }}
        </div>
        {{ if social_media_accounts:facebook || social_media_accounts:instagram || social_media_accounts:linkedin }}
          <div>
            <h3 class="uppercase font-black mb-8">Join us</h3>
            <div class="flex items-center md:justify-center gap-10 md:mt-12">
              {{ partial:misc/socials }}
            </div>
          </div>
        {{ /if }}
      </div>
      <div class="uppercase font-semibold flex flex-col gap-y-5">
        <a 
          href="/impressum" 
          title="Impressum"
          class="block">
          Impressum
        </a>
        <a 
          href="/datenschutz" 
          title="Datenschutz"
          class="block">
          Datenschutz
        </a>
      </div>
    </section>
  {{ /partial:layout/inner}}
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
</body>
</html>