{{ partial:marquee }}
<footer class="bg-black text-white py-20 lg:py-40">
  {{ partial:layout/inner }}
    <section class="flex flex-col space-y-20 md:flex-row md:justify-between md:items-end">
      <div class="flex flex-col space-y-20 md:space-y-0  md:flex-row md:gap-x-40 lg:gap-x-60">
        <div>
          {{ if contact_information:name }}
            <h3 class="uppercase font-bold">
              {{ contact_information:name }}
            </h3>
          {{ /if }}
          {{ if contact_information:address }}
            {{ contact_information:address | nl2br }}
          {{ /if }}
        </div>
        <div>
          <h3 class="uppercase font-bold">
            Say hello
          </h3>
          {{ if contact_information:phone }}
            <a href="tel:{{ contact_information:phone }}" title="Rufen Sie uns an!" class="block">
              {{ contact_information:phone }}
            </a>
          {{ /if }}
          {{ if contact_information:email }}
            <a href="mailto:{{ contact_information:email }}" title="Schreiben Sie uns eine E-Mail!" class="block">
              {{ contact_information:email }}
            </a>
          {{ /if }}
        </div>
        <div>
          <h3 class="uppercase font-bold">Join us</h3>
          <div class="flex items-center md:justify-center gap-10 md:mt-15">
            {{ if social_media_accounts:facebook }}
              <a href="{{ social_media_accounts:facebook }}" title="Facebook" target="_blank">
                {{ partial:icons/facebook class="block w-25 h-26" }}
              </a>
            {{ /if }}
            {{ if social_media_accounts:instagram }}
              <a href="{{ social_media_accounts:instagram }}" title="Instagram" target="_blank">
                {{ partial:icons/instagram class="block w-25 h-25" }}
              </a>
            {{ /if }}
            {{ if social_media_accounts:linkedin }}
              <a href="{{ social_media_accounts:linkedin }}" title="LinkedIn" target="_blank">
                {{ partial:icons/linkedin class="w-25 h-25" }}
                {{ partial:icons/instagram class="block w-25 h-25" }}
              </a>
            {{ /if }}
          </div>
        </div>
      </div>
      <div class="uppercase font-semibold flex flex-col gap-y-5">
        <a 
          href="/impressum" 
          title="Impressum"
          class="block">
          Impressum
        </a>
        <a 
          href="/datenschutz" 
          title="Datenschutz"
          class="block">
          Datenschutz
        </a>
      </div>
    </section>
  {{ /partial:layout/inner}}
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
</body>
</html>