<div class="md:col-span-3 bg-white shadow-xl relative group overflow-hidden">
  {{ if website }}
    <a 
      href="{{ website }}" 
      title="{{ title }}"
      class="!no-underline absolute z-20 w-full h-full flex flex-col items-center justify-center text-center opacity-0 bg-transparent group-hover:bg-white transition-all group-hover:opacity-100 group-hover:duration-700 group-hover:delay-300">
      <span class="flex flex-col items-center justify-center px-10"> 
        <span class="block">
          <strong>{{ title }}</strong>
        </span>
        {{ if division }}
          <span class="block">
          {{ division }}
          </span>
        {{ /if }}
      </span>
    </a>
  {{ else }}
    <div class="absolute z-20 w-full h-full flex flex-col items-center justify-center text-center opacity-0 bg-transparent group-hover:bg-white transition-all group-hover:opacity-100 group-hover:duration-700 group-hover:delay-300">
      <span class="flex flex-col items-center justify-center px-10"> 
        <span class="block">
          <strong>{{ title }}</strong>
        </span>
        {{ if division }}
          <span class="block">
          {{ division }}
          </span>
        {{ /if }}
      </span>
    </div>
  {{ /if }}
  {{ partial:media/image :image="logo" class="w-full h-auto object-cover relative z-10 translate-z-0 group-hover:translate-y-full transition-all duration-700" }}
</div>
