<div 
  class="bg-pearl mt-30 lg:mt-60" 
  data-animation-observe 
  data-animation-fade-in
  >
  {{ partial:layout/inner }}

    <article class="md:grid md:grid-cols-12 md:gap-x-40 lg:gap-x-60 py-60">

      <div class="md:col-span-6 lg:col-span-5">
        
        {{ partial:headings/h2 }}
          {{ news_teaser_title }}
        {{ /partial:headings/h2 }}

        {{ if news_teaser_text }}
          <div>{{ news_teaser_text }}</div>
        {{ /if }}

        {{ if link_url }}
          {{ partial:misc/button :url="link_url" :text="link_text" }}
        {{ /if }}
      </div>

      {{ if images }}
        <div class="mt-40 md:mt-0 md:col-span-6 lg:col-span-7 md:pt-7 relative shadow-2xl aspect-[16/9]">
          {{ partial:swiper/wrapper }}
            {{ images }}
              {{ partial:swiper/slide }}
                {{ partial:media/image 
                  :image="url" 
                  :sizes="['2xl', 'xl', 'lg']" 
                  preset="focal-16-9"
                  class="w-full h-auto aspect-[16/9] object-cover" }}
              {{ /partial:swiper/slide }}
            {{ /images }}
          {{ /partial:swiper/wrapper }}
          {{ partial:swiper/pagination }}
        </div>
      {{ /if }}

    </article>

  {{ /partial:layout/inner }}

</div>