<div class="relative md:mt-0 pt-60 md:pt-80 lg:pt-115" data-animation-observe>
  <div class="absolute inset-0 -z-1 md:max-h-[235px] lg:max-h-[245px] overflow-hidden">
    {{ partial:media/avif 
      image="/assets/home/home-background-teaser.png.png" 
      avif_image="/assets/home/home-background-teaser.avif"
      class="w-full h-auto"
      data="data-animation-teaser-lines-slide-in-left"
      alt="Services" }}
  </div>
  {{ partial:layout/inner class="relative z-10" }}
    <div class="flex flex-col space-y-40 md:space-y-0 md:grid md:grid-cols-12 md:gap-x-30 2xl:gap-x-40">
      {{ teaser }}
        <article class="md:col-span-4">
          {{ partial:media/image
            :image="teaser_image" 
            wrapperClass="shadow-lg lg:shadow-2xl mb-20 md:mb-30"
            class="block w-full h-auto"
            preset="focal-16-10"
            alt="Services" }}
          <h2 class="font-black uppercase mb-2">
            {{ teaser_title }}
          </h2>
          <div class="flex flex-col space-y-10 lg:space-y-20">
            {{ teaser_text }}
            {{ if link_url }}
              {{ partial:misc/button :url="link_url" :text="link_text" class="!bg-white" }}
            {{ /if }}
          </div>
        </article>
      {{ /teaser }}
    </div>

  {{ /partial:layout/inner }}
</div>