<div class="relative pt-10 pb-30 lg:pt-30 lg:pb-50 mt-50 lg:mt-100">
  {{ if image_background }}
    {{ partial:media/avif 
      :image="image_background" 
      :avif_image="image_background_avif"
      class="hidden md:block w-full h-full object-cover absolute inset-0 -z-1"
      alt="Services" }}
  {{ /if }}

  {{ if image_background_portrait }}
    {{ partial:media/avif 
      :image="image_background_portrait" 
      :avif_image="image_background_portrait_avif"
      class="block md:hidden w-full h-full object-cover absolute inset-0 -z-1"
      alt="Services" }}
  {{ /if }}

  {{ partial:media/avif 
    :image="image_lettering" 
    :avif_image="image_lettering_avif"
    class="w-full h-auto relative z-10 -translate-x-20 md:-translate-x-40 max-w-[90%] md:max-w-[760px] xl:max-w-[1200px]"
    data=""
    alt="Vision" }}

    {{ partial:layout/inner class="relative z-10" }}
      <div class="grid grid-cols-5 md:grid-cols-12 gap-x-10 md:gap-x-50 lg:gap-x-70 gap-y-30">
        <div class="col-span-5 flex flex-col md:justify-end">
          {{ partial:media/avif 
            :image="image_portrait" 
            :avif_image="image_portrait_avif"
            class="block w-full h-auto rounded-full aspect-square max-w-[230px] md:max-w-[375px] 2xl:max-w-[425px] shadow-2xl"
            data=""
            alt="Vision" }}
        </div>
        <div class="col-span-5 md:col-span-7 text-md [&_h3]:font-black [&_h3]:uppercase [&_h3]:text-xl [&_h3]:mb-10">
          {{ text }}
        </div>
      </div>
    {{ /partial:layout/inner }}
</div>