<div 
  class="bg-black hidden fixed bottom-20 md:left-20 md:right-20 z-50 w-full max-w-[90%] md:max-w-lg h-auto p-15 lg:p-20"
  data-gdpr-banner>
 <div class="text-white text-xs lg:text-sm flex flex-col hyphens-auto">
  {{ "Diese Website verwendet Cookies, um die Benutzerfreundlichkeit und Funktionalität zu verbessern. Durch die Nutzung dieser Website erklären Sie sich mit der Verwendung von Cookies einverstanden." | trans }}
  <div class="mt-10 flex justify-end">
    <a 
      href="javascript:;" 
      class="bg-white py-5 px-9 inline-block text-black"
      data-gdpr-btn>
      {{ "Einverstanden" | trans }}
    </a>
  </div>
</div>
</div>