<a 
  href="/news"
  class="relative z-40 lg:z-80 flex overflow-hidden h-50 bg-black bg-[url(../patterns/dots.png)] bg-[length:auto_58px] select-none"
  data-marquee-pause-on-hover>
  <div 
    class="flex whitespace-nowrap" 
    data-marquee-animate-scroll>
    <span class="text-[38px] font-extrabold uppercase leading-[0.75] text-white pt-9">
      Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra&nbsp;
    </span>
  </div>
  <div 
    class="flex whitespace-nowrap" 
    aria-hidden="true" 
    data-marquee-animate-scroll>
    <span class="text-[38px] font-extrabold uppercase leading-[0.75] text-white pt-9">
      Extra Extra Extra Extra Extra Extra Extra Extra Extra Extra&nbsp;
    </span>
  </div>
</a>