{{ if social_media_accounts:facebook }}
  <a 
    href="{{ social_media_accounts:facebook }}" 
    title="stoz.ch auf Facebook" 
    target="_blank"
    class="group">
   {{ partial:icons/facebook class="size-25" }}
  </a>
{{ /if }}
{{ if social_media_accounts:instagram }}
  <a 
    href="{{ social_media_accounts:instagram }}" 
    title="stoz.ch auf Instagram" 
    target="_blank"
    class="group">
    {{ partial:icons/instagram class="block size-25" }}
  </a>
{{ /if }}
{{ if social_media_accounts:linkedin }}
  <a 
    href="{{ social_media_accounts:linkedin }}" 
    title="stoz.ch auf LinkedIn" 
    target="_blank"
    class="group">
    {{ partial:icons/linkedin  class="block size-25" }}
  </a>
{{ /if }}