{{ if social_media_accounts:facebook }}
  <a 
    href="{{ social_media_accounts:facebook }}" 
    title="stoz.ch auf Facebook" 
    target="_blank"
    class="group size-25">
   {{ if is_footer }}
    {{ partial:icons/facebook-neg class="block size-25 group-hover:hidden" }}
    {{ partial:icons/facebook-hover class="hidden group-hover:block size-25" background_class="fill-white stroke-white" icon_class="fill-black" }}
   {{ else }}
     {{ partial:icons/facebook-pos class="block size-25 group-hover:hidden" }}
     {{ partial:icons/facebook-hover class="hidden group-hover:block size-25" background_class="fill-black stroke-black" icon_class="fill-white" }}
   {{ /if }}
  </a>
{{ /if }}
{{ if social_media_accounts:instagram }}
  <a 
    href="{{ social_media_accounts:instagram }}" 
    title="stoz.ch auf Instagram" 
    target="_blank"
    class="group">
    {{ if is_footer }}
      {{ partial:icons/instagram-neg class="block size-25 group-hover:hidden" }}
      {{ partial:icons/instagram-hover class="hidden group-hover:block size-25" background_class="fill-white stroke-white" icon_class="fill-black" }}
    {{ else }}
      {{ partial:icons/instagram-pos class="block size-25 group-hover:hidden" }}
      {{ partial:icons/instagram-hover class="hidden group-hover:block size-25" background_class="fill-black stroke-black" icon_class="fill-white" }}
    {{ /if }}
  </a>
{{ /if }}
{{ if social_media_accounts:linkedin }}
  <a 
    href="{{ social_media_accounts:linkedin }}" 
    title="stoz.ch auf LinkedIn" 
    target="_blank"
    class="group">
    {{ if is_footer }}
      {{ partial:icons/linkedin-neg class="block size-25 group-hover:hidden" }}
      {{ partial:icons/linkedin-hover class="hidden group-hover:block size-25" background_class="fill-white stroke-white" icon_class="fill-black" }}
    {{ else }}
      {{ partial:icons/linkedin-pos class="block size-25 group-hover:hidden" }}
      {{ partial:icons/linkedin-hover class="hidden group-hover:block size-25" background_class="fill-black stroke-black" icon_class="fill-white" }}
    {{ /if }}
  </a>
{{ /if }}