<div class="px-10 lg:pl-45 2xl:pl-160 lg:pr-160 mt-20 lg:mt-130">
  <figure class="flex justify-center items-center relative">
    
    {{ if page_title }}
      {{ partial:headings/title data="data-animation-fly-in" type="h1" }}
        {{ page_title }}
      {{ /partial:headings/title }}
    {{ /if }}

    {{ if header_image }}
      {{ partial:media/avif 
        :image="header_image" 
        :avif_image="header_image_avif"
        class="w-full h-full object-cover 2xl:aspect-[16/5]"
        alt="Contact" }}
    {{ /if }}
  </figure>
</div>