<div>
  {{ if contact_information:name }}
    <span class="block uppercase font-black mb-3">
      {{ contact_information:name }}
    </span>
  {{ /if }}
  {{ if contact_information:address }}
    {{ contact_information:address | nl2br }}
  {{ /if }}
</div>
<div>
  <span class="block uppercase font-black mb-3">
    Say Hello
  </span>
  {{ if contact_information:phone }}
    <a href="tel:{{ contact_information:phone }}" title="Rufen Sie uns an!" class="block">
      {{ contact_information:phone }}
    </a>
  {{ /if }}
  {{ if contact_information:email }}
    <a href="mailto:{{ contact_information:email }}" title="Schreiben Sie uns eine E-Mail!" class="block">
      {{ contact_information:email }}
    </a>
  {{ /if }}
</div>
{{ if social_media_accounts:facebook || social_media_accounts:instagram || social_media_accounts:linkedin }}
  <div>
    <span class="block uppercase font-black mb-8">
      Join us
    </span>
    <div class="flex gap-10 md:mt-12">
      {{ partial:misc/socials :is_footer="is_footer ?? false" }}
    </div>
  </div>
{{ /if }}