@import "typo/webfonts.css";
@import "animations/blink.css";
@import "animations/hover.css";
@import "animations/marquee.css";
@import "animations/fade-in.css";
@import "animations/fly-in.css";
@import "animations/slide-in.css";
@import "animations/stagger.css";

@import "vendor/swiper.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

main {
}

h1 {
}

h2 {
}

strong {
  @apply font-bold;
}

main p:not(:last-child) {
  @apply mb-16;
}

main a {
  @apply hover:underline underline-offset-4 decoration-1
}

main ul:not(main nav ul) {
  @apply list-disc m-0 ml-20 mb-15;
}

main ul:not(main nav ul) p {
  @apply mb-0 inline;
}

main li:not(main nav li) {
  @apply mb-4
}


/* Helpers */
.nobr {
  @apply whitespace-nowrap;
}

/* Prevent flickering on hover */
.translate-z-0 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* News articles */
.is-odd {
  @apply bg-white;
}

.is-even {
  @apply bg-pearl;
}

.is-even article > div:first-of-type {
  @apply md:order-2;
}
.is-even article > div:last-of-type {
  @apply md:order-1;
}

/* Team members */
.team-member {
  @apply grid;
  grid-template-areas: "stack";

  & > div,
  & > figure {
    @apply content-center;
    grid-area: stack;
  }
}

.team-member.is-left {
  & > div {
    @apply ml-20 lg:ml-100;
  }
}

.team-member.is-right {
  & > div {
    @apply mr-20 lg:mr-100;
  }
}


/* Privacy policy, Imprint */
.page-privacy main article:first-of-type {
  @apply mt-45 lg:mt-90;
}

.page-privacy h2, h3 {
  @apply font-black uppercase mb-10;
}

.page-privacy h2 {
  @apply text-lg;
}
