[data-animation-observe][data-animation-fade-in] {
  opacity: 0;
  transform: translateY(90px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

[data-animation-observe][data-animation-fade-in].is-visible {
  opacity: 1;
  transform: translateY(0);
}