/* Fade in, slide up */
[data-animation-observe][data-animation-fade-in] {
  opacity: 0;
  transform: translateY(90px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

[data-animation-observe][data-animation-fade-in].is-visible {
  opacity: 1;
  transform: translateY(0);
}

[data-animation-observe] [data-animation-circle-first-fade-in],
[data-animation-observe] [data-animation-circle-second-fade-in],
[data-animation-observe] [data-animation-circle-third-fade-in] {
  opacity: 0;
  transition: opacity 1.2s ease-out;
}
[data-animation-observe] [data-animation-circle-first-fade-in] {
  transition-delay: .5s;
}

[data-animation-observe] [data-animation-circle-second-fade-in] {
  transition-delay: 1.25s;
}

[data-animation-observe] [data-animation-circle-third-fade-in] {
  transition-delay: 1.75s;
}

[data-animation-observe].is-visible [data-animation-circle-first-fade-in],
[data-animation-observe].is-visible [data-animation-circle-second-fade-in],
[data-animation-observe].is-visible [data-animation-circle-third-fade-in] {
  opacity: .4;
}

/* Fade in (slow) */
@keyframes fadeInSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

[data-animation-fade-in-slow] {
  opacity: 0;
  animation: fadeInSlow .75s .5s ease-in-out forwards;
}

[data-animation-fade-in-slow-delay] {
  opacity: 0;
  animation: fadeInSlow .75s 1.25s ease-in-out forwards;
}