@keyframes flyIn {
  0% {
    opacity: 0;
    transform: scale(6) rotate(-6deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-6deg);
  }
}

[data-animation-fly-in] {
  opacity: 0;
  animation: flyIn 0.33s 0.5s cubic-bezier(0.6, 0.1, 0.3, 1) forwards;
}

[data-animation-fly-in-delay-medium] {
  animation-delay: 2s;
}

[data-animation-fly-in-delay-long] {
  animation-delay: 2.4s;
}