
@keyframes hover {
  0% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
  50% {
    transform: translate(-50%, calc(-50% - 1vw)) rotate(-6deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
}

[data-animation-hover] {
  animation: hover 5s ease-in-out infinite;
}