
@keyframes hover {
  0% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
  50% {
    transform: translate(-50%, calc(-50% - 5px)) rotate(-6deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
}

@keyframes lg\:hover {
  0% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
  50% {
    transform: translate(-50%, calc(-50% - 10px)) rotate(-6deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
}

[data-animation-hover] {
  animation: hover 3s ease-in-out infinite;
}

@media (min-width: 1024px) {
  [data-animation-hover] {
    animation: lg\:hover 3s ease-in-out infinite;
  }
}