@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(100px, -100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes slideInTopBounce {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  50% {
    transform: translate(-50%, -40%);
  }
  70% {
    transform: translate(-50%, -55%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Header > Team */
[data-animation-arrow-slide-in] {
  opacity: 0;
  animation: slideIn .25s 1.25s ease-out forwards;
}

/* Header > Services */
[data-animation-lines-slide-in-left] {
  opacity: 0;
  animation: slideInLeft .25s .5s ease-out forwards;
}

/* Header > Services */
[data-animation-x-slide-in-top] {
  opacity: 0;
  animation: slideInTopBounce .25s 1.25s ease-out forwards;
}

/* Services > Campaign */
[data-animation-arrow-slide-in-top] {
  opacity: 0;
  transform: translateY(-90px);
  transition: opacity .24s .8s ease-out, transform .24s .8s ease-out;
}

/* Services > Events */
[data-animation-xxs-slide-in-left] {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity .25s .75s ease-out, transform .25s .75s ease-out;
}

[data-animation-observe].is-visible [data-animation-xxs-slide-in-left] {
  opacity: 1;
  transform: translateX(0);
}

[data-animation-observe].is-visible [data-animation-arrow-slide-in-top] {
  opacity: 1;
  transform: translateY(0);
}

/* Services > Branding */
[data-animation-cross-slide-in-right] {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity .45s .5s ease-out, transform .45s .5s ease-out;
}

[data-animation-observe].is-visible [data-animation-cross-slide-in-right] {
  opacity: 1;
  transform: translateX(0);
}

/* Services > Print & Digital */
[data-animation-slide-in-left] {
  transform: translateX(-100%);
  transition: transform .15s .75s ease-out;
}

[data-animation-slide-in-right] {
  transform: translateX(100%);
  transition: transform .15s 1s ease-out;
}

[data-animation-observe].is-visible [data-animation-slide-in-left],
[data-animation-observe].is-visible [data-animation-slide-in-right] {
  transform: translateX(0);
}

/* Home > Family Business */
[data-animation-arrow-slide-in-left] {
  opacity: 0;
  transform: translate(-100%,0);
  transition: opacity .25s .5s ease-out, transform .25s .5s ease-out;
}

[data-animation-observe].is-visible [data-animation-arrow-slide-in-left] {
  opacity: 1;
  transform: translate(0,0);
}

/* Home > Page Teasers */
[data-animation-teaser-lines-slide-in-left] {
  opacity: 0;
  transform: translate(-100%,0);
  transition: opacity .25s .5s ease-out, transform .25s .5s ease-out;
}

[data-animation-observe].is-visible [data-animation-teaser-lines-slide-in-left] {
  opacity: 1;
  transform: translate(0,0);
}

/* Home > Vision (Portrait image) */
@media (max-width: 768px) {
  [data-animation-portrait-slide-in-bottom] {
    opacity: 0;
    transform: translate(0,60px);
    transition: opacity .25s .25s ease-out, transform .25s .25s ease-out;
  }

  [data-animation-observe][data-animation-portrait-slide-in-bottom].is-visible {
    opacity: 1;
    transform: translate(0,0);
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  [data-animation-portrait-slide-in-bottom] {
    opacity: 0;
    transform: translate(0,60px);
    transition: opacity .25s .5s ease-out, transform .25s .5s ease-out;
  }

  [data-animation-observe][data-animation-portrait-slide-in-bottom].is-visible {
    opacity: 1;
    transform: translate(0,45px);
  }
}

@media (min-width: 1024px) {
  [data-animation-portrait-slide-in-bottom] {
    opacity: 0;
    transform: translate(0,180px);
    transition: opacity .25s .25s ease-out, transform .25s .25s ease-out;
  }

  [data-animation-observe][data-animation-portrait-slide-in-bottom].is-visible {
    opacity: 1;
    transform: translate(0,90px);
  }
}