{{ collection from="works" as="works" }}
  {{ if works }}
    <div class="flex items-start gap-x-15">
      {{ works }} 
        {{ if id == current }}
          <a 
            href="{{ prev:url }}"
            class="{{ !prev ? 'opacity-50 pointer-events-none' : '' }}">
            {{ partial:icons/browse-prev class="block w-auto h-24" }}
          </a>
          <a href="/works">
            {{ partial:icons/browse-cross class="block size-23 mt-1" }}
          </a>
          <a 
            href="{{ next:url }}"
            class="{{ !next ? 'opacity-50 pointer-events-none' : '' }}">
            {{ partial:icons/browse-next class="block w-auto h-24" }}
          </a>
        {{ /if }}
      {{ /works }}
    </div>
  {{ /if }}
{{ /collection }}