{{ partial:layout/inner class="relative" }}

  {{ if page_title }}
    {{ partial:headings/title class="-bottom-10 sm:bottom-0 lg:-bottom-30 2xl:-bottom-10 left-25 lg:left-140 2xl:-left-30" }}
      {{ page_title }}
    {{ /partial:headings/title }}
  {{ /if }}

  <figure class="aspect-[16/5] sm:aspect-[16/4] lg:aspect-[16/5] xl:aspect-[16/4] flex justify-center">
    <div class="min-h-[115px] md:min-h-[250px] lg:min-h-[320px] w-full relative flex justify-center gap-x-10 overflow-hidden">

      {{ if header_image_gradient }}
        {{ partial:media/avif 
          image="{{ header_image_gradient }}" 
          avif_image="{{ header_image_gradient_avif }}"
          class="relative max-w-[60px] sm:max-w-[90px] md:max-w-[120px] lg:max-w-[160px] 2xl:max-w-[180px] -top-20 2xl:-top-40"
          alt="Workx"
          data="data-animation-stagger data-animation-stagger-first" }}
      {{ /if }}

      {{ if header_image_lines }}
        {{ partial:media/avif 
          image="{{ header_image_lines }}" 
          avif_image="{{ header_image_lines_avif }}"
          class="relative max-w-[65px] sm:max-w-[100px] md:max-w-[140px] lg:max-w-[180px] 2xl:max-w-[200px] top-10 sm:top-20 md:top-30 lg:top-40 2xl:top-50"
          alt="Workx"
          data="data-animation-stagger data-animation-stagger-third" }}
      {{ /if }}

      {{ if header_image_dots }}
        {{ partial:media/avif 
          image="{{ header_image_dots }}" 
          avif_image="{{ header_image_dots_avif }}"
          class="relative max-w-[65px] sm:max-w-[110px] md:max-w-[140px] lg:max-w-[180px] 2xl:max-w-[200px] -top-20 2xl:-top-40"
          alt="Workx"
          data="data-animation-stagger data-animation-stagger-second" }}
      {{ /if }}
    </div>
  </figure>

{{ /partial:layout/inner }}