{{ partial:layout/inner class="mt-30 lg:mt-60" }}
  <div class="flex flex-wrap gap-10">
    <div>
      <a 
        href="javascript:;"
        data-category="all" 
        class="bg-white font-black text-black uppercase px-5 pb-1 leading-none rounded-sm !no-underline border border-black hover:bg-black hover:text-white transition-all">
        Alle
      </a>
    </div>
    {{ taxonomy:categories }}
      {{ if entries }}
        <div>
          <a 
            href="javascript:;"
            data-category="{{ slug }}" 
            class="bg-white font-black text-black uppercase px-5 pb-1 leading-none rounded-sm !no-underline border border-black hover:bg-black hover:text-white transition-all">
            {{ title }}
          </a>
        </div>
      {{ /if }}
    {{ /taxonomy:categories }}
  </div>
  <div class="mt-20 lg:mt-40 flex flex-col gap-30 sm:grid sm:grid-cols-12 sm:gap-20 lg:gap-40">
    {{ work }}
      {{ partial:works/components/thumbnail 
        image="{{ preview_image }}"
        url="{{ url }}"
        title="{{ title }}" }}
    {{ /work }}
  </div>
{{ /partial:layout/inner }}