{{ partial:headings/claim page_claim="{{ title_multi_line ?? title }}" }}

<div class="flex flex-col gap-y-24">
  {{ partial:works/browse current="{{ id }}" }}

  {{ if description }}
    <article class="max-w-2xl hyphens-auto">
      {{ description }}
    </article>
  {{ /if }}

  {{ if tasks }}
    <div>
      {{ tasks | nl2br }}
    </div>
  {{ /if }}

  {{ if links }}
    <div>
      {{ links }}
        <a href="{{ url }}" target="_blank">{{ display }}</a>
      {{ /links }}
    </div>
  {{ /if }}

  {{ if elements }}
    <div class="grid grid-cols-12 gap-20">
    
      {{ elements }}

        {{ if type == 'media_landscape_portrait' }}
          {{ partial:works/components/media_landscape_portrait }}
        {{ /if }}

        {{ if type == 'media_portrait_landscape' }}
          {{ partial:works/components/media_portrait_landscape }}
        {{ /if }}

        {{ if type == 'media_landscape' }}
          {{ partial:works/components/media_landscape_landscape }}
        {{ /if }}

      {{ /elements }}
    </div>
  {{ /if }}
</div>
