<div>
  <figure class="relative">
    {{ if page_title }}
      {{ partial:headings/title data="data-animation-fly-in" }}
      {{ page_title }}
      {{ /partial:headings/title }}
    {{ /if }}
    <img 
      src="/assets/header/header-news-title.png" 
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-40 w-full h-auto max-w-[240px] md:max-w-sm lg:max-w-md 2xl:max-w-2xl"
      width="640"
      height="378" 
      alt="News"
      data-animation-blink>
    <img 
      src="{{ header_image }}" 
      width="{{ header_image:width }}" 
      height="{{ header_image:height }}" 
      class="w-full h-full object-cover aspect-[16/10] md:aspect-[16/7] 2xl:aspect-[16/5]" 
      alt="News" />
  </figure>
</div>